<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>7743094480-f0ta694eej5aab191lp7mft614luomqs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.7743094480-f0ta694eej5aab191lp7mft614luomqs</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQJhcwHr6l8vLsVwT6fCk_kFvmLwffP4</string>
	<key>GCM_SENDER_ID</key>
	<string>7743094480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.omrobbie.breakpoint</string>
	<key>PROJECT_ID</key>
	<string>breakpoint-dev-47b7a</string>
	<key>STORAGE_BUCKET</key>
	<string>breakpoint-dev-47b7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7743094480:ios:421dbb72296ca79205a8d5</string>
	<key>DATABASE_URL</key>
	<string>https://breakpoint-dev-47b7a.firebaseio.com</string>
</dict>
</plist>